
:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-acente: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-body-darker:#5c5577;
    --border: #222;
    --border-radius: 30px;

}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* Typog raphy */

html {
    font-size: 62.5%;

}

body {
  
    font-family: 'Inter', sans-serif;
    color: var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;
    overflow-x:hidden ;
}

input,
textarea,
button {
    font-family: inherit
}

h1,
h2,
h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width:1024px) {
    body {
        font-size: 1.8rem;
        line-height: 1.5;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}


.navbar{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 3rem;
    background-color: #000;
    border-bottom:1px solid #222;
}

.navbar__logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__img{
    max-width: 18rem;
    transform: translateY(.2rem);
}
.navbar__toggler{
    max-width: 3rem;
    transition: all .2s ease-in;
}
.collapsible__content{
    opacity: 0;
    max-height: 0;
    /* margin-top: -10rem; */
    transition: all .5s ease-in;
}
.collapsible--expanded .collapsible__content{
    /* transform: translateY(0); */
    opacity: 1;
    max-height: 100vh;
    margin-top: 2rem;
}

.collapsible--expanded .navbar__toggler{
    transform: rotate(90deg);
}
.navbar__list{
   list-style: none;
   color: #c1c0c7;

}
.collapsible--expanded .navbar__list{
    /* padding: 1rem; */
    /* border-bottom: var(); */
}
.navbar__item{
    padding: 1rem;
    border-bottom:1px solid var(--border) ;
}
.navbar__item:last-child{
    border: none;
}


@media screen and (min-with:768px){

}

@media screen and (min-with:1366px){
    
}

@media screen and (min-with:1920px){
    
}