:root {
    --color-primary: #5ae2dc;
    --color-secondary: #f02d83;
    --color-acente: hsl(280, 36%, 46%);
    --color-headings: #fff;
    --color-body: #84E4A4;
    --color-body-darker:#5c5577;
    --border: #222;
    --border-radius: 30px;

}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* Typog raphy */

html {
    font-size: 62.5%;

}

body {
  
    font-family: 'Montserrat', sans-serif;
    color: var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;
    overflow-x:hidden !important;
    font-weight: 500;
}

input,
textarea,
button {
    font-family: inherit
}

h1,
h2,
h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}
a{
    text-decoration: none;
    
}

.btn{
    border-radius: var(--border-radius);
    border:none;
    padding: 1rem 2rem;
    color: #fff;
    border: none;
}
.btn--primary{
    background-color: var(--color-primary);
    /* color: #000;     */
}
.btn--secondary{
    background-color: var(--color-secondary); 
}
.btn--acente{
    background-color: var(--color-acente);
}
@media screen and (min-width:768px) {
    body {
        font-size: 1.8rem;
        line-height: 1.5;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

@media screen and (min-width:1024px) {
    body {
        font-size: 1.8rem;
        line-height: 1.5;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}


h1{
    font-family: "Montserrat";
    font-size: 5rem;
}
html{
    font-size: 62.5%;
}
body{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.container{
    width: 100vw;
    height: 100vh;
    padding: 2rem 3rem 0 3rem;
    overflow: hidden;
}

@media screen and (min-width:768px){
    .container{
        width: 100vw;
        height: 100vh;
        padding: 4rem 4rem;
    }   
}

@media screen and (min-width:1024px){
    .container{
        width: 100vw;
        height: 100vh;
        padding: 2rem 3rem;
    }  
}
.navbar{
    display: flex;
    flex-direction: column;
}
.navbar__logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.navbar__image{
    width: 55%;
    height: auto;

}
.navbar__toggler{
    width: 10%;
    transition: transform .3s ease-in-out;
}
.navbar__content{
    list-style: none;
}
.collapsible__content{
    max-height: 0vh;
    margin-top: 0;
    opacity: 0;
    transition: all .5s ease;
    /* pointer-events: none; */
}
.collapsible__content li{

}
.collapsible--expanded .collapsible__content{
    max-height: 100vh;
    opacity: 1;
    margin-top: 1rem;
    /* pointer-events: none; */
}
.collapsible--expanded .navbar__toggler{
    transform: rotate(90deg);
}

.navbar__item{
    padding: 1rem;
    border-bottom:1px solid var(--color-body);
}
.navbar__item:last-child{
    border: none;   
}
.navbar__item a{
    color: #fff;
    display: flex;
    align-items: center;
}
.navbar__item a img{
    width: 8%;
}
.navbar__item a p{
    font-size: 1.6rem;
    margin-left:2rem;
}

@media screen and (min-width:768px){
    
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar__logo{
    display: flex;
    align-items: center;
}
.navbar__image{
    width:100%;
    height: auto;

}
.navbar__toggler{
    display: none;
}
.collapsible__content{
    max-height: 100vh;
    margin-top: 0;
    opacity: 1;
    display: flex;
    flex-direction: row;
}


.navbar__item{
    /* padding:1rem 0; */
    border-bottom:none;
    z-index: 2;
}

.navbar__item a{
    color: #fff;
    display: flex;
    align-items: center;
}
.navbar__item a img{
    width: 15%;
    margin-left: 2rem;
}
.navbar__item a p{
    font-size: 1.6rem;
    margin-left: 1rem;
}

}

@media screen and (min-width:1024px){
    
    .navbar{
        align-items: center;
    }
    .navbar__logo{
        display: flex;
        align-items: center;
        width: 70%;
      
    }
    .navbar__image{
        width:20%;
        height: auto;
    
    }
    .navbar__toggler{
        display: none;
    }
    .collapsible__content{
        justify-content:space-around;
        width: 50%;
    }
    .navbar__item{
        /* padding:1rem 0; */
    }
    
    .navbar__item a{
        color: #fff;
        display: flex;
        align-items: center;
    }
    .navbar__item a img{
        width: 10%;
        margin-left: 0rem;
    }
    .navbar__item a p{
        font-size: 1.8rem;
        margin-left: 01rem;
    }
    
}
@media screen and (min-width:1366px){
    .navbar__item a img{
        width: 15%;
        margin-left: 0rem;
    }
}
@media screen and (min-width:1920px){
    .navbar__item a img{
        width: 13%;
        margin-left: 0rem;
    }
}




.hero{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    z-index: 2;
   
}
.hero__content{
    padding-top: 5rem;
    z-index: 2;
}
.hero__title{
    font-size: 4rem;
    text-align: center;
    z-index: 2;
}
.hero__content p{
    font-size: 1.4rem;
    margin-top: 1rem;
    z-index: 2;
}
.timer{
    margin-top:2rem ;
    padding: 2rem 0;
    border: 2px solid var(--color-body);
    border-radius:10px/20px ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    z-index: 2;
}
.timer h2{
    font-weight:400 ;
    z-index: 2;
}
.timer span{
    color: var(--color-body);
    font-weight: 400;
    z-index: 2;
}

.hero__image{
    
}

.hero__image .desktop{
    display: none;
    z-index: 1;
 }
.hero__image .android{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 1;
    
}
@media screen and (min-width:540px){
    .hero__content p{
        font-size: 1.6rem;
        margin-top: 2rem;
    }
    .hero__image .android{
        position: absolute;
        bottom: 0;
        width: 80%;
        left: 10%;
        z-index: 0;
    }

}  
@media screen and (min-width:768px){
    .hero__content p{
        font-size: 1.6rem;
        margin-top: 2rem;
    }
    .hero__image .android{
        position: absolute;
        bottom: 0;
        width: 90%;
        left: 5%;
        
    }

}  
@media screen and (min-width:912px){
    .hero__content p{
        font-size: 1.9rem;
        margin-top: 3rem;
    }
    .timer{
        margin-top: 4rem;
    }
    .hero__image .android{
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        
    }

}  
@media screen and (min-width:1024px){

    .hero{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        height: 100%;
    }
    .hero__content{
        padding-top: 0;
    
    }
    .hero__title{
        font-size: 5rem;
        text-align: center;
    }
    .hero__content p{
        font-size: 1.7rem;
        padding: 0 1rem;
    }
    .timer{
        margin-top:5rem ;
        padding: 2rem 0;
        border: 2px solid var(--color-body);
        border-radius:10px/20px ;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        z-index: 2;
        width: 80%;
        margin:5rem auto;
    }
    .timer h2{
        font-weight:400 ;
    }
    .timer span{
        color: var(--color-body);
        font-weight: 400;
    }
    
    .hero__image{
        
    }
    
    .hero__image .desktop{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: 1;
        pointer-events: none;
     }
    .hero__image .android{
        display: none;
        
    }
}
@media screen  and (min-width:1366px){
    
    .hero{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        height: 100%;
    }
    .hero__content{
        padding-top: 0;
    
    }
    .hero__title{
        font-size: 5rem;
        text-align: center;
    }
    .hero__content p{
        font-size: 1.7rem;
        padding: 0 1rem;
    }
    .timer{
        margin-top:5rem ;
        padding: 2rem 0;
        border: 2px solid var(--color-body);
        border-radius:10px/20px ;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        z-index: 2;
        width: 80%;
        margin:5rem auto;
    }
    .timer h2{
        font-weight:400 ;
    }
    .timer span{
        color: var(--color-body);
        font-weight: 400;
    }
    
    .hero__image{
        
    }
    
    .hero__image .desktop{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: 1;
        pointer-events: none;
     }
    .hero__image .android{
        display: none;
        
    }
}
@media screen and (min-width:1920px){

    .hero{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        height: 100%;
    }
    .hero__content{
        padding-top: 0;
    
    }
    .hero__title{
        font-size: 7rem;
        text-align: center;
    }
    .hero__content p{
        font-size: 2.5rem;
        padding: 0 2rem;
    }
    .timer{
        margin-top:5rem ;
        padding: 2rem 0;
        border: 2px solid var(--color-body);
        border-radius:10px/20px ;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        z-index: 2;
        width: 70%;
        margin:5rem auto;
    }
    .timer h2{
        font-weight:400 ;
    }
    .timer span{
        color: var(--color-body);
        font-weight: 400;
    }
    
    .hero__image{
        
    }
    
    .hero__image .desktop{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: 1;
        pointer-events: none;
     }
    .hero__image .android{
        display: none;
        
    }
}
canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    
}